@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500;600&family=Ubuntu:ital@1&display=swap');
/* font-family: 'Ubuntu', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500;600&family=Kalam:wght@300&family=Ubuntu&display=swap');
/* font-family: 'Kalam', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
/* font-family: 'Lora', serif; */
*{
    padding: 1px;
    margin: 0;
}
.sidebar{
    background-color: rgb(248, 211, 211);
    /* width: 300px; */
    font-family: 'DynaPuff', cursive;
    height: 120vh;
    transition: transform 0.3s ease-in;
}
.sidebar nav{
    padding: 25px;
}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 27px 12px;
}
.sidebar nav li a{ 
   text-decoration: none;
   color: rgba(0, 0, 0, 0.815);
}

.main{
    /* background-color: yellow; */
    width: 90vw;
}

.container{
    display: flex;
}
.infocontainer{
    /* background-color: rgba(242, 246, 246, 0.964); */
    height: 55vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.devinfo{
    display: flex;
    flex-direction:column ;
    justify-content: center;
}
.devpic img{
    height: 55vh;
}
.profilebutton{
    justify-content: centre;
    width: 100px;
    background: blue;
    border-radius: 40px;
    border-color: rgb(255, 255, 0);
    color: rgb(0, 0, 0);
    padding: 4px;
    font-size: 15px;
    margin: 30px 6px;
    cursor: pointer;
  }
  .profilebutton:hover{
    background-color: #fff;
    color: rgb(8, 15, 234);
  }
  .aboutbutton{
    justify-content: centre;
    width: 100px;
    background: blue;
    border-radius: 40px;
    border-color: rgb(179, 230, 11);
    color: rgb(0, 0, 0);
    padding: 4px;
    font-size: 14px;
  
    /* justify-content: centre;
    font-weight: bold;
    font-size: 21px;
    border-radius: 30px;
    border-color: rgb(157, 255, 0);
    background-color: rgb(0, 106, 255);
    color: rgb(0, 0, 0) 3px;
    font-family: 'Ubuntu', sans-serif;
    padding: 5px 9px; */
 
  
  }
  .aboutbutton:hover{
    background-color: #fff;
    color: rgb(8, 15, 234);
    

  }
  .name{ 
    font-size: 42px;
  }
  .hello{
    font-size: 30px;
  }
  .about{
     font-size: 40px;
  }
  .moreabout{
    font-size: 25px;
    margin: 20px;
  }
  .contectform {
    padding-top: 140px;
    padding: 50px 34px;
    font-family: 'Kalam', cursive;
 
  }
  .contectform h1 {
   
    font-family: 'Ubuntu', sans-serif;
    padding: 12px 0;
  }
  
  .contectform div{
   padding: 10px 0;
   display: flex;
   flex-direction: column;
  }
  .contectform div input{
   width: 18vw;
   border-radius: 8px;
   margin: 3px 6px 3px 6px;
   padding: 4px;
}

  #emailHelp{
    font-size: 15px;
    color: blueviolet;
    margin: 0 7px;
  }
#form-check{
  flex-direction: row;
 
}
#form-check input{
  width: 24px;
  margin: 3px;
 
}






.container button{justify-content: centre;
  width: 100px;
  background: rgba(221, 235, 238, 0.877);
  border-radius: 40px;
  border-color: rgb(179, 230, 11);
  color: solid black ;
  padding: 4px;
  font-size: 14px;

}

/* blogstyle start -> */

.blogItem{
  /* margin: 24px; */
  font-family: 'Kalam', cursive;
  padding: 9px;
  
}

.intro h2{
  font-family: 'Ubuntu', sans-serif;
  padding: 15px; 
  margin: 0 12px;
}
.intro p{
  font-family: 'Lora', serif;
}

.skillcontainer{
  padding: 33px;
}

.skillItem{
  display: flex;
  align-items: center;
}

.skill{
  width: 250px;
  height: 8px;
  background-color: red;
  border-radius: 10px ;
  border: 1px solid black;
  
}
.hundered{
  width: 300px;
  background-color: rgb(255, 55, 0);
}
.fifty{
  width: 150px;
  background-color: rgb(16, 246, 85);
}
.t75{
  width: 200px;
  background-color: rgb(232, 0, 253);
}
.zero{
  width: 20px;
  background-color: rgb(253, 0, 126);
}
@media (max-width :1500px) {
  *{
  background-color: rgb(228, 163, 163);
}
.main{
  transform: translate(-400px 0);
  position: absolute;
}
}
.hamburger{
  position: absolute;
  cursor: pointer;
    top: 9px;
    left: 15px;
}
.crosspng{
  margin-left: 150px;
}
.sidebarGo{
  
}

